# Python cache
__pycache__/
.pytest_cache/
*.py[cod]
*.egg-info/
*.log

# VS Code and Python environment
.vscode/
.env/
.venv/

# Output and structure tools
project_tree.txt
package_resources/upx*
output/

# OS junk
.DS_Store
Thumbs.db

# Misc
scratchpad.omg
native/target/
