[MESSAGES CONTROL]
disable =
    broad-except,
    consider-using-in,
    consider-using-with,
    duplicate-code,
    import-outside-toplevel,
    no-else-raise,
    no-else-return,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-nested-blocks,
    too-many-positional-arguments,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements,
    unbalanced-tuple-unpacking,
    unnecessary-pass,
    unspecified-encoding


[FORMAT]
max-line-length = 105